<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UserBlog Test Suite">
    <listeners>
        <listener class-name="common.TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="JSONPlaceholderAutomationTest">
        <parameter name="userName" value="Samantha" />
        <classes>
            <class name="tests.TestUserBlog">
                <methods>
                    <include name="verifyGetAllUsers" />
                    <include name="verifyGetUser" />
                    <include name="verifyGetPostsByUserId" />
                    <include name="verifyPostComments" />
                </methods>
            </class>
        </classes>
    </test>
</suite>