<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UserBlog Test Suite">
    <test verbose="2" preserve-order="true" name="JSONPlaceholderAutomationTest">
        <classes>
            <class name="TestUserBlog">
                <methods>
                    <include name="test_method1" />
                </methods>
            </class>
        </classes>
    </test>
</suite>